<ion-header>
    <ion-navbar>
      <ion-title>
        <!-- <ion-icon [navPush]="pushPage2" name="ios-contact" class="icon-user"></ion-icon>         -->
        VHU <i class="material-icons icon-title">local_florist</i>
        <ion-icon [navPush]="pushPage" name="ios-map-outline" class="icon-photo"></ion-icon>
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-toolbar color="light">
    <div class="row">
        <div class=""><div class="last-post"><img src="../../assets/imgs/vhu2.jpg" class="last-post-img"/></div><p class="txt-last-post">Jemael</p></div>
        <div class=""><div class="last-post"><img src="../../assets/imgs/vhu3.jpg" class="last-post-img"/></div><p class="txt-last-post">Jonathan</p></div>
        <div class=""><div class="last-post"><img src="../../assets/imgs/vhu6.jpg" class="last-post-img"/></div><p class="txt-last-post">Nawal</p></div>
        <div class=""><div class="last-post"><img src="../../assets/imgs/vhu5.jpg" class="last-post-img"/></div><p class="txt-last-post">Thierry</p></div>
    </div>
  </ion-toolbar>

    <ion-card>
      <ion-card-content>
          <ion-card-title class="name">
            <ion-icon name="ios-contact" class="icon-txt-img-list"></ion-icon>Jemael
          </ion-card-title>
          <img src="../../assets/imgs/vhu2.jpg"/><br>
          <ion-card-title class="lieu">
            <ion-icon name="md-pin" class="icon-txt-img-list"></ion-icon> 
            Fort-de-France
            <ion-icon name="logo-twitter" class="icon-twitter"></ion-icon>             
            <ion-icon name="logo-facebook" class="icon-fb"></ion-icon>             
          </ion-card-title>
        <p>
            Primi igitur omnium statuuntur Epigonus et
            Eusebius ob nominum gentilitatem oppressi.
        </p><hr>
      </ion-card-content>
    </ion-card>